
<div class="modal-body">
  <div ng-repeat="attention in attentions">
    <div class="row">
      <div ng-click="openUser(attention.UserId)" class="col-md-6 col-md-offset-3">
      <a href="javascript:;" > <b>{{attention.Name}}</b>
              <img ng-if="attention.PhotoId" ng-src="/images/{{attention.PhotoId}}" height="50" width="50"/>
        <img ng-if="!attention.PhotoId" ng-src="/public/images/faces/{{attention.Sex}}.png" height="50" width="50"/>
        </a>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>
