<div class="row">
  <div class="col-md-7 ">

    <div class="panel panel-default">
      <div class="panel-heading"><h3>Find Partner</h3></div>
      <div class="panel-body">


        <div class="row">
          <div class="">
            <div class="row">
              <div class="col-sm-2">
                Gender:
              </div>
              <div class="col-sm-3">
                <select ng-model="preference.Sex">
                  <option  ng-repeat="val in sexList" value="{{val}}"> {{val}}
                  </option> 
                </select>
              </div>
              <div class="col-sm-2">
                Age:&nbsp;{{preference.FromAge}}-{{preference.ToAge}}           
              </div>
              <div class="col-sm-3">

                <div id="age-slider"
                     data-slider-min="18"
                     data-slider-max="80"
                     data-slider-step="1"
                     data-slider-orientation="horizontal"
                     data-slider-value="[20, 80]"
                     data-slider-selection="before"
                     data-slider-tooltip="hide"
                     data-slider-handle="round"></div> 
              </div>

            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-sm-2">
                Show:
              </div>
              <div class="col-sm-3">
                <select  ng-model="preference.SearchOption">
                  <option  ng-repeat="val in searchOptions" value="{{val}}"> 
                  {{val}}
                  </option></select>
              </div> 

              <div class="col-sm-2">
                Distance: 
              </div>
              <div class="col-sm-3">
                <select  ng-model="preference.Kilometer" ng-options="val*1 as val for val in kilometers" > 
                </select>
                  <span>kilometer</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <button class="col-md-1  btn btn-md btn-primary" ng-click="find(preference)"> find </button>
              </div>
            </div>
          </div>
          <section class="container">
            <div ng-repeat="team in users">
              <div class="divider"></div>
              <div class="divider"></div>

              <div class="row">
                <div ng-repeat="user in team">
                  <div class="col-sm-2" ng-click="showUser(user)">
                    <div class="row">
                      <img ng-if="user.PhotoId" ng-src="/images/{{user.PhotoId}}" 
                                                style="width:100px;height:98px">
                      <img ng-if="!user.PhotoId" ng-src="/public/images/faces/{{user.Sex}}.png"  
                                                 style="width:100px;height:98px">
                    </div>
                    <div class="row">
                      <img ng-if="user.IsOnline" ng-src="/public/images/tooltips/online_status.png"/>
                      <span>{{user.Name}} {{user.Age}}</span>
                     
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <pagination total-items="totalUsers" ng-model="currentPage" 
                                                 items-per-page="userSize" 
                                                 class="pagination-sm"  
                                                 direction-links="true" boundary-links="true"
                                                                        rotate="false" num-pages="numPages" ng-click="setPage(currentPage)"></pagination>
          </section>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 " >
    <div ng-include="'/static/views/post/posts.html'"></div>
  </div>

</div>
