<div class="page">
  <div class="panel panel-default">  
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Forgot Password</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel-body">
            <form class="form-signin" role="form">
              <h2 class="form-signin-heading">Forgot Password</h2>

              <div class="form-group">
                <input type="text" class="form-control" ng-model="email"
                                                        placeholder="E-mail" required autofocus/>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="send(email)">Send</button>
                  </div>
                  <div class="col-md-5 pull-right">
                    <button class="btn btn-lg btn-warning btn-block" type="submit" ng-click="login()">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
