<header class="top-header clearfix">

  <!-- Logo -->
  <div class="logo"
       ng-class="{ 'bg-dark': ['11','31'].indexOf(admin.skin) >= 0,
       'bg-white': admin.skin === '21',
       'bg-primary': ['12','22','32'].indexOf(admin.skin) >= 0,
       'bg-success': ['13','23','33'].indexOf(admin.skin) >= 0,
       'bg-info-alt': ['14','24','34'].indexOf(admin.skin) >= 0,
       'bg-warning': ['15','25','35'].indexOf(admin.skin) >= 0,
       'bg-danger': ['16','26','36'].indexOf(admin.skin) >= 0,
       }">
    <a href="#/">
      <span>{{main.brand}}</span>
    </a>
  </div>

  <!-- needs to be put after logo to make it work -->
  <div class="menu-button" toggle-off-canvas>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <div class="top-nav" ng-if="isLoggedIn">
    <ul class="nav-left list-unstyled">
      <li>
        <a href="#/" data-toggle-nav-collapsed-min
           class="toggle-min"
           ><i class="ti-menu"></i></a>
      </li>
      <li class="dropdown" dropdown is-open="status.isopenEmail">
        <a   ng-click="openMessenger()" >
          <i class="ti-email"></i>
          <span class="badge badge-danger">{{unreadMessages}}</span>
        </a>
      </li>
    </ul> 

    <ul class="nav-right pull-right list-unstyled">

      <li class="dropdown text-normal nav-profile" dropdown >
        <a href="javascript:;" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
              <img ng-if="owner.Info.PhotoId" ng-src="/images/{{owner.Info.PhotoId}}" alt="" class="img-circle img30_30">
              <img ng-if="!owner.Info.PhotoId" ng-src="/public/images/faces/{{owner.Info.Sex}}.png" 
              alt="" class="img-circle img30_30">
              <span class="hidden-xs">
                <span data-i18n="{{owner.Name}}"></span>
              </span>
        </a>
        <ul class="dropdown-menu with-arrow pull-right">
          <li>
            <a href="#/users/profile">
              <i class="ti-user"></i>
              <span data-i18n="My Profile"></span>
            </a>
          </li>
          <li>
            <a ng-click="logout()" href="/auth/logout">
              <i class="ti-export"></i>
              <span data-i18n="Log Out" ></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown langs text-normal" dropdown is-open="status.isopenLang" data-ng-controller="LangCtrl">
        <a href="javascript:;" class="dropdown-toggle  dropdown-toggleactive-flag" dropdown-toggle data-toggle="dropdown">
          <img ng-src="/public/styles/ui/images/flags/{{ flag }}.png" width="40" height="30" />
        </a>
        <ul class="dropdown-menu with-arrow  pull-right list-langs" role="menu">
          <li data-ng-show="lang !== 'English' ">
            <a href="javascript:;" data-ng-click="setLang('English')">
              <img ng-src="/public/styles/ui/images/flags/United-Kingdom.png" width="40" height="30"/> English</a></li>
          <li data-ng-show="lang !== 'Greek' ">
            <a href="javascript:;" data-ng-click="setLang('Greek')">
             <img ng-src="/public/styles/ui/images/flags/Greece.png" width="40" height="30"/> Greek</a></li>
        </ul>
      </li>
    </ul>
  </div>

</header>
