<div class="page">


  <div class="panel panel-default">  
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Login</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="panel-body">
            <form class="form-signin" role="form">
              <h2 class="form-signin-heading">Please login</h2>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="user.email"
                                                        placeholder="E-mail" required autofocus/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" ng-model="user.password" placeholder="Password"
                                                                                     required/>
                <a href="#/forgot">forgot your password?</a>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)">Login</button>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <button class="btn btn-lg btn-primary btn-block" ng-click="register()">Register</button>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="panel-body">
            Rules : 
            <p>1) Do not insist when the other person is not interested. </p>
            <p>2) Be honest and confident. 
            You do not have to be the Nice guy or the Bad guy.</p>
            <p>3) If someone does not like you, it is not about you. 
            You are different people, thats all it is. </p>
            <p>4) Invest in yourself. 
            Even if it is hard, tedius or time consuming, 
            there is no other way to show that you love yourself.
            </p> 
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


