<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li ng-repeat="sm in sitemap">
          <a href="{{sm.Url}}"> <i class="{{sm.Icon}}"></i><span data-i18n="{{sm.Title}}"></span> </a>
        </li>      
    </ul>
</div>
