<div class="modal-header">
  <h3 class="modal-title">Report</h3>
</div>
<div class="modal-body">
  <div class="col-md-offset-3">
  <div class="row">
    <div class="col-sm-3">
      Name: 
    </div>
    <div class="col-sm-3">
      {{info.Name}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Type:
    </div>
    <div class="col-sm-3">
      <select class="btn btn-default" ng-model="report.Type">
        <option  ng-repeat="val in typeList" value="{{val}}"> {{val}}
        </option> 
      </select> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      Description:
    </div>
    <div class="col-sm-3">
      <textarea ng-model="report.Description"></textarea>
    </div>
  </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(report)">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

