
<div class="modal-header">
  <h3 class="modal-title">Messenger</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="modal-body col-md-2"> 
      <h3>Users</h3>
      <div scroll-glue >
        <div ng-repeat="messenger in messengers">
          <div class="row " ng-click="openChat(messenger)">
            <span ng-if="choosenMessenger.MessengerId === messenger.MessengerId"
                  class="col-md-9 label label-info "> {{messenger.Name}} 
                  <img ng-show="messenger.IsOnline" ng-src="/public/images/tooltips/online_status.png"/>

                  <span ng-show="messenger.UnreadMessages > 0">{{messenger.UnreadMessages}}</span> 
            </span>
            <span ng-if="choosenMessenger.MessengerId != messenger.MessengerId"
                  class="col-md-9  "> {{messenger.Name}} 
                  <span ng-show="messenger.UnreadMessages > 0">{{messenger.UnreadMessages}}</span> 
            </span>


            <img ng-if="messenger.PhotoId" 
                 ng-src="/images/{{messenger.PhotoId}}" class="img-round img30_30"  />
            <img ng-if="!messenger.PhotoId" 
                 ng-src="/public/images/faces/{{messenger.Sex}}.png" class="img-round img30_30"  />

          </div>
        </div>
      </div>


    </div>
    <div class="modal-body col-md-10">
      <div class="row" >

        <div class="col-sm-8"> <b ng-if="choosenMessenger"> Chat with {{choosenMessenger.Name}} </b> 
          <img ng-show="isChoosenOnline" ng-src="/public/images/tooltips/online_status.png"/>

          <button ng-if="choosenMessenger" class="btn btn-primary"  ng-click="invite(choosenMessenger)">invite</button> 
          <button ng-if="choosenMessenger" class="btn btn-warning" ng-click="ignore(choosenMessenger)">ignore</button>
        </div>
      </div>
      <div class="messages-scroll-bar" scroll-glue >
        <button class="btn btn-info" ng-if="hasPages" ng-click="moreMessages()"> more </button>
        <div ng-repeat="message in messages">
          <div >
            <div class="row">
              <div class="col-md-9">
                <b>{{message.Name}}</b>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><small>{{message.Date}}</small><i class="ti-angle-right"></i></div>
              <div class="col-md-8 well" ><p style="word-wrap: break-word;"> {{message.Text}}</p> </div>
            </div>
          </div>
        </div>
       
      </div> 
      <div ng-show="isReadLastMessage"><i class="ti-eye"></i></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div ng-if="choosenMessenger" class="col-sm-8 col-sm-offset-2">
      <span> <input id="message" ng-model="message"  class="form-control"
                                                     ng-enter="sendMessage(choosenMessenger.MessengerId,message)" />
        <button class="btn  btn-primary "   
                ng-click="sendMessage(choosenMessenger.MessengerId,message)">send</button></span>
    </div>
  </div>

</div>


