<div ng-controller="CommonListsCtrl" class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">Musics </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.MusicTypes" 
          placeholder="Add tags like: jazz, rock etc" >
          <auto-complete source="loadMusicTypes($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>

     <div class="row">
      <div class="col-sm-2"> Stuffs </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.StuffTypes"
          placeholder="Add tags like: pool, bowling etc">
          <auto-complete source="loadStuffTypes($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>

     <div class="row">
      <div class="col-sm-2"> Product types </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.ProductTypes" 
          placeholder="Add tags like: chinese-food, vodka etc">
          <auto-complete source="loadProductTypes($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-2"> Comforts </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.Comforts"
           placeholder="Add tags like: +smoking, +view etc">
          <auto-complete source="loadComforts($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>


     <div class="row">
      <div class="col-sm-2"> Products </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.Products"
           placeholder="Add tags like: mythos, cheeseburger etc">
          <auto-complete source="loadProducts($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>
    
     <div class="row">
      <div class="col-sm-2"> Business types </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.BusinessTypes"
           placeholder="Add tags like: restaurant, bar etc">
          <auto-complete source="loadBusinessTypes($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>

     <div class="row">
      <div class="col-sm-2"> Event types </div>
      <div class="col-sm-4">
        <tags-input ng-model="business.TypeLists.EventTypes" 
           placeholder="Add tags like: party, wedding etc">
          <auto-complete source="loadEventTypes($query)" min-length="1"></auto-complete>
        </tags-input>
      </div>
    </div>

  </div>
</div>

