<div class="panel panel-defautl">
  <div class="panel-body">
    <div  class="row">
      <div class="col-sm-2" >Photo
        <div ng-if="business.PhotoId" >
                <img ng-src="/images/{{business.PhotoId}}" style="width:200px;height:200px">
        </div>
        <div ng-show="!business.PhotoId">
          <img id="preview" height="200" width="200" /> 
        </div>

      </div>
      <div class="col-sm-4">
            <button class="btn btn-primary" class="button" ngf-select 
                ngf-change="upload($files)" 
                ngf-multiple="false"
                accept=".jpg,.jpeg,.png">Select Photo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">Name</div>
      <div class="col-sm-4"><input type="text" ng-model="business.Name" /></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Start time</div>
      <div class="col-sm-4">
        <timepicker ng-model="startTime"  show-meridian="false"></timepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"> End time</div>
      <div class="col-sm-4">
        <timepicker ng-model="endTime"   show-meridian="false"></timepicker>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-2">Open Days </div>
      <div class="col-sm-4">
        <tags-input ng-model="openDays"  >
        </tags-input>
        <button class="btn btn-warning" ng-click="reloadDays()">reload</button>
      </div>
    </div>
        <ng-include src="'static/views/business/add_edit_common_info.html'">
    </ng-include>
    <ng-include src="'static/views/business/add_edit_common_lists.html'">
    </ng-include>
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary" ng-click="save(business,openDays,business.TypeLists)">save</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-warning" ng-click="cancel()">cancel</button>
      </div>
    </div>
  </div>
</div>
