<div class="panel panel-defautl">
  <div class="panel-body">
    <div class="row" >
      <div class="col-sm-2">Photo
        <div ng-if="business.PhotoId">
          <img src="/images/{{business.PhotoId}}" style="width:200px;height:200px">
        </div>
      <div ng-show="!business.PhotoId">
          <img id="preview" height="200" width="200" /> 
        </div>


      </div>
      <div class="col-sm-4">
         <button class="btn btn-primary" ngf-select 
                ngf-change="upload($files)" 
                ngf-multiple="false"
                accept=".jpg,.jpeg,.png">Select Photo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">Name</div>
      <div class="col-sm-4">
        <input type="text" ng-model="business.Name" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Start</div>
      <div class="col-sm-6">
        Select Date:
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
            <div class="input-group">
              <span>{{ business.StartDate | date:'yyyy-MM-dd hh:mm a' }}</span>
              <span><i class="ti-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker  data-ng-model="business.StartDate" 
                             data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
          </ul>
        </div>
      </div>
    </div>
        <ng-include src="'static/views/business/add_edit_common_info.html'">
    </ng-include>
    <ng-include src="'static/views/business/add_edit_common_lists.html'">
    </ng-include>

    <div class="row">
      <button class="btn btn-primary"  ng-click="save(business,tags)">save</button>
      <button class="btn btn-warning" ng-click="cancel()">cancel</button>
    </div>
  </div>
</div>
