<div ng-controller="CommonComfortCtrl" class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2"> Take Reservation </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.CanReservate"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Delivery </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.CanDeliver"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Take out </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.CanTakeOut"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Accepts Credit Card </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.AcceptsCreditCard"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Has parking </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.HasParking"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Smoke </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.CanSmoke"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Has outdoor seating </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.HasOutdoorSeating"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Is dogs allowed </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.IsDogsAllowed"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Has waiter service </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.HasWaiterService"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Is cater </div>
      <div class="col-sm-4">
        <input type="checkbox" ng-model="business.Comfort.IsCater"/>
      </div>
    </div>

  </div>
</div>
