
<div ng-controller="CommonInfoCtrl" class="panel panel-default">

    <div class="panel-body">
       <div class="row">
      <div class="col-sm-2">Address </div>
      <div class="col-sm-4">
        <input type="text" ng-model="business.Info.Address" 
                           typeahead="address for address in getLocation($viewValue)"
                           typeahead-loading="loadingLocations"/>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"> Website </div>
      <div class="col-sm-4">
        <input type="text" ng-model="business.Info.Website"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"> Telephone</div>
      <div class="col-sm-4">
        <input type="text" ng-model="business.Info.Telephone"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">Description</div>
      <div class="col-sm-4">
        <textarea ng-model="business.Info.Description" ></textarea>
      </div>
    </div>
    </div>
</div>
