<div class="panel panel-defautl">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-6">
            <h5>Businesses: <button class="btn btn-primary btn-round" ng-click="addBusiness()">Add Business</button></h5>
            
          </div>
        </div>
        <div ng-repeat="business in businesses">
          <div class="row well">
            <div class="col-md-5">
              <b>{{business.Name}}</b> 
            </div>
            <div class="col-md-2">
              <button class="btn btn-info" ng-click="showBusiness(business)"> show </button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-warning" ng-click="editBusiness(business)">edit</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger" ng-click="deleteBusiness(business)" confirm="Are you sure ?"> delete </button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div  class="col-md-5">
        <div class="row">
          <div class="col-sm-6">
          <h5>Events:  <button class="btn btn-primary btn-round"  ng-click="addEvent()">Add Event</button></h5>
          </div>
        </div>
        <div ng-repeat="ev in events">
          <div  class="row well">
            <div class="col-md-5">
              <b>{{ev.Name}}</b>
            </div>
            <div class="col-md-2">            
              <button class="btn btn-info" ng-click="showEvent(ev)">show</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-warning" ng-click="editEvent(ev)">edit</button>
            </div>

            <div class="col-md-2">
              <button class="btn btn-danger" ng-click="deleteEvent(ev)" confirm="Are you sure ?">delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

