<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  
  <div class="row center-block">
    <h3 class="modal-title"> Business: {{business.Name}}</h3>
  </div>
</div>
<div class="model-body"> 
  <div class="row  panel-body">
    <div class="col-md-7 ">
      <div ng-if="business.PhotoId" class="row">
        <div class="col-md-7">
          <img ng-src="/images/{{business.PhotoId}}" class="img-responsive" 
                                                     style="width:304px;height:228px"></img>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <span class="col-md-4">
          <b>opens:</b>
        </span>
        <span class="col-md-8">
          {{showByComma(business.OpenDays)}}
        </span>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-4">
          <b>time:</b>
        </div>
        <div class="col-md-6">
          <span>{{getStrTime(business)}}</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-4"><b>address:</b></div>
        <div class="col-md-8">
          <span>{{business.Info.Address}}</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-sm-4">
          <span>{{business.Info.Description}}</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-4"><b>tags:</b></div>
        <div class="col-md-8">
          <div ng-if="business.TypeLists.BusinessTypes.length > 0"><span>{{showByComma(business.TypeLists.BusinessTypes)}}</span> <br/></div>
          <div ng-if="business.TypeLists.MusicTypes.length > 0"><span>{{showByComma(business.TypeLists.MusicTypes)}}</span> <br/></div>
          <div ng-if="business.TypeLists.StuffTypes.length > 0"><span>{{showByComma(business.TypeLists.StuffTypes)}}</span> <br/></div>
          <div ng-if="business.TypeLists.ProductTypes.length > 0"><span>{{showByComma(business.TypeLists.ProductTypes)}}</span> <br/></div>
          <div ng-if="business.TypeLists.Products.length > 0"><span>{{showByComma(business.TypeLists.Products)}}</span> <br/></div>
          <div ng-if="business.TypeLists.Comforts.length > 0"><span>{{showByComma(business.TypeLists.Comforts)}}</span> <br/></div>
        </div>
      </div>
    </div>
    <div class="col-md-5 panel-body">
      <div ng-if="userId === business.UserId">
        <button class="btn btn-round btn-info" ng-click="addPost()"> add post </button>
      </div>

      <div ng-scrollbar up>
        <div ng-include="'/static/views/post/specific_posts.html'"></div>        
      </div>
    </div>
  </div>
</div>
<div class="model-footer">
  

</div>


