<div class="modal-header ">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <div class="row center-block">
    <h3 class="modal-title"> Event: {{event.Name}}</h3>
  </div>
</div>



<div class="model-body">
  <div class="row panel-body">
    <div class="col-md-7 ">
      <button class="btn btn-warning" ng-if="isAttending" ng-click="willNotGo()"> Will not go </button>
      <button class="btn btn-primary" ng-if="!isAttending" ng-click="willGo()"> Will go </button>
      <button class="btn btn-info" ng-click="whoWillGo()">{{numAttentions}} will come</button>
      <div ng-if="event.PhotoId" class="row">
        <div class="col-sm-4">
          <img ng-src="/images/{{event.PhotoId}}"  style="width:304px;height:228px"
                                                   class="img-responsive"></img>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b> starts: </b>
        </div>
        <div class="col-md-6">
          <span>{{event.StartDate}}</span>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <b>address:</b>
        </div>
        <div class="col-md-6">
          <span>{{event.Info.Address}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b>description:</b>
        </div>
        <div class="col-md-6">
          <span>{{event.Info.Description}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <b>tags:</b> 
        </div>
        <div class="col-md-8">
          <div ng-if="event.TypeLists.EventTypes.length > 0"><span >{{showByComma(event.TypeLists.EventTypes)}}</span> <br/></div>
          <div ng-if="event.TypeLists.MusicTypes.length > 0"><span >{{showByComma(event.TypeLists.MusicTypes)}}</span> <br/></div>
          <div ng-if="event.TypeLists.StuffTypes.length > 0"><span >{{showByComma(event.TypeLists.StuffTypes)}}</span> <br/></div>
          <div ng-if="event.TypeLists.ProductTypes.length > 0"><span >{{showByComma(event.TypeLists.ProductTypes)}}</span> <br/></div>
          <div ng-if="event.TypeLists.Products.length > 0"><span >{{showByComma(event.TypeLists.Products)}}</span> <br/></div>
          <div ng-if="event.TypeLists.Comforts.length > 0"><span >{{showByComma(event.TypeLists.Comforts)}}</span> <br/></div>
        </div>
      </div>
    </div>

    <div class="col-md-5 panel-body">
      <h3>Posts</h3>
      <div ng-if="userId === event.UserId">
        <button class="btn btn-round btn-info" ng-click="addPost()"> add post </button>
      </div>
      <div ng-scrollbar up>
          <div ng-include="'/static/views/post/specific_posts.html'"></div> 
      </div>


    </div>
  </div>
</div>



<div class="model-footer">
 
</div>
