<div class="modal-header">
  <h3 class="modal-title">Post as {{post.Name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="row ">
        <textarea class="col-md-10 " ng-model="post.Text"></textarea>
      </div>
      <div class="divider"></div>
      <div class="row">
        <button class="col-md-10  btn btn-info" ngf-select 
                ngf-change="upload($files)" 
                ngf-multiple="false"
                accept=".jpg,.jpeg,.png">Select Photo</button>
              </div>
              <div class="divider"></div>
      <div  class="row">
        <img id="preview" height="200" width="200" ></img>
      </div>
      <div class="divider"></div>
      <div class="row">
        <button class="btn btn-primary" ng-click="addPost(post)"> Post </button>
      </div>
    </div>
  </div>
</div>
