<div  ng-controller="PostsCtrl">
  <div class="panel panel-default">  
    <div class="panel-heading">
      <h3>Posts <button class="btn  btn-round btn-primary" ng-click="addPost()"> add</button> </h3>
    </div>
    <div class="panel-body ">
      <div >

        <div   class="posts-scroll-bar" >
          <div  ng-repeat="post in posts" class="callout callout-success">

            <div class="pull-right">
              <button class="btn btn-danger" ng-if="post.IsOwner" 
                                             ng-click="deletePost(post)">X</button>
            </div>

        <div  class="row ">
          <div  class="col-md-10 col-md-offset-1">

            <img ng-if="post.OwnerPhotoId" ng-src="/images/{{post.OwnerPhotoId}}" class="img-rounded"
                                                                                  style="width:50px;height:40px"/>
            <img ng-if="!post.OwnerPhotoId && post.OwnerSex" ng-src="/public/images/faces/{{post.OwnerSex}}.png" 
                                                             class="img-rounded"
                                                             style="width:50px;height:40px"/>
            <div ng-if="!post.OwnerPhotoId && !post.OwnerSex"
                 style="width:50px;height:40px"></div>
            <span><a href="javascript:;" 
                     ng-click="showOwner(post)"><b> {{post.Name}}</b> </a> <small> {{showDate(post)}}</small> 
                   &nbsp;
            </span>
            <div>
              <a ng-if="post.MyLike" href="javascript:;" ng-click="dislike(post)" >Dislike </a> 
              <a ng-if="!post.MyLike" href="javascript:;" ng-click="like(post)" >Love it <b class="ti-heart"></b></a> 

              &nbsp;
              <a href="javascript:;" ng-click="showLikes(post)" > Likes {{post.Likes}}</a>

            </div>

          </div>

        </div>
        <div class="divider"></div>
        <div class="row center-block ">
          <div ng-click="showPost(post)" class="col-md-10 col-md-offset-1 bg-info well">
            <p  style="word-wrap: break-word;"> {{post.Text}} </p> 
          </div>
        </div>
        <div class="row center-block container">
          <span ng-if="post.PhotoId">
            <img   ng-click="showPost(post)" ng-src="/images/{{post.PhotoId}}" 
                                             class="img-responsive col-md-2 col-md-offset-1"
                                             style="width:200px;height:200px"/></span>
        </div>
        <div class="divider"></div>
          </div>
          <button class="btn  btn-info" ng-if="hasPostPages" ng-click="morePosts()">more</button>
        </div>
      </div>
    </div>
  </div>
</div>

