<div class="modal-body">
  <div ng-repeat="like in likes">
    <div class="row">
      <div ng-click="openUser(like.UserId)" class="col-md-6 col-md-offset-3">
        <a href="javascript:;" > <b>{{like.Name}}</b>
              <img ng-if="like.PhotoId" ng-src="/images/{{like.PhotoId}}" height="50" width="50"/>
        <img ng-if="!like.PhotoId" ng-src="/public/images/faces/{{like.Sex}}.png" height="50" width="50"/>
        </a>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>
