<div class="modal-header">
  <div class="row">
    <div class="col-md-4"></div>
    <h3 class="modal-title"> Post from {{post.Name}}</h3>
  </div>
</div>
<div class="modal-body">
  <button class="btn btn-warning" ng-if="isLiked" ng-click="dislike()"> dislike </button>
  <button class="btn btn-primary" ng-if="!isLiked" ng-click="like()"> like </button>
  <button class="btn btn-info" ng-click="likes()">Likes {{numLikes}}</button>

  <div class="callout callout-success">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 well ">
          <p style="word-wrap: break-word;">{{post.Text}}</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">

        <img ng-if="post.PhotoId" 
             ng-src="/images/{{post.PhotoId}}" 
             class="img-responsive" 
             style="width:300px;height:250px"/>
        </div>
      </div>
    </div>
  </div>
</div>
