<div ng-controller="UserPostsCtrl">
  <div class="row">
    <h3 class="col-md-5">Posts <button  ng-if="!isOtherUser" class="btn  btn-round btn-primary" ng-click="addPost()">  add</button></h3>
  </div>
  <div ng-include="'/static/views/post/specific_posts.html'"></div> 
</div>
