<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
  <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="static/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">

  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="static/bower_components/lodash/lodash.min.js"></script>
  <script src="static/bower_components/moment/min/moment.min.js"></script>
  <script src="static/bower_components/angular/angular.min.js"></script>
  <script src="static/bower_components/angular-route/angular-route.min.js"></script>  
  <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  
</head>
<body ng-app="App">
<div class="panel panel-default" id="main">
  <div class="panel-body">
    <div ng-controller="NavMenuCtrl">
      <ul class="nav navbar-nav" >
        <li ng-repeat="link in sitemap">
          <a href="{{link.Url}}">{{link.Title}}</a>
        </li>
      </ul>

      <br/>
    </div>
  </div>
  <div class="panel-body">
    <div ng-view></div>
  </div>
</div>
</body>

<script src="static/app/main.js"></script>

<script src="static/app/controllers/HomeCtrl.js"></script>
<script src="static/app/controllers/LoginCtrl.js"></script>
<script src="static/app/controllers/NavMenuCtrl.js"></script>
<script src="static/app/controllers/user/UserListCtrl.js"></script>
<script src="static/app/controllers/business/BusinessListCtrl.js"></script>
<script src="static/app/controllers/event/EventListCtrl.js"></script>

<script src="static/app/services/AuthSrv.js"></script>
<script src="static/app/services/CommonSrv.js"></script>
<script src="static/app/services/UserSrv.js"></script>
<script src="static/app/services/BusinessSrv.js"></script>
<script src="static/app/services/EventSrv.js"></script>

</html>
