
<div class="modal-header">
  <h3 class="modal-title">Take a photo</h3>
</div>
<div class="modal-body">
  <div class="row">
    <button class="btn btn-info col-md-6 col-md-offset-3" ng-click="openCamera()" ng-hide="isCameraOn"> Open Camera </button>
  </div>
  <div class="row">
    <div class="col-sm-7"  ng-if="isCameraOn" >
      <div id="my_camera" style="{{style}}"></div> 
      <button class="btn btn-primary" type="submit" ng-click="snap()"> snap </button>
    </div>
    <div class="col-sm-4" >
      <div id="my_result"></div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

