<div class="panel panel-default">
  <div class="row">
    <div class="col-md-5 panel-body">
      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Settings</h2>

        <div class="row">
          <div class="col-sm-4">
            Name
          </div>
          <div class="col-sm-4">
            <input type="text" ng-model="user.Name"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Email
          </div>
          <div class="col-sm-4">
            <input type="text" ng-model="user.Email"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Old Password
          </div>
          <div class="col-sm-4">
            <input type="password" ng-model="user.OldPassword"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            New Password
          </div>
          <div class="col-sm-4">
            <input type="password" ng-model="user.NewPassword"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Is public ?
          </div>
          <div class="col-sm-4">
            <input type="checkbox" ng-model="user.IsPublic"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Is for business ?
          </div>
          <div class="col-sm-4">
            <input type="checkbox" ng-model="user.IsBusiness"/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-lg btn-primary btn-block"  
                                                             ng-click="save(user)">Save</button>
            

          </div>
          <div class="col-sm-4">
             <button class="btn btn-lg btn-danger btn-block" confirm="Are you sure ?" 
                                                             ng-click="delete()">Delete Profile</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5 panel-body">
      <div class="row">
        <h3> My Blocks </h3>
        <span ng-if="blocked_users.length == 0">None</span>
        <ul>
          <li ng-repeat="bl in blocked_users">
            <span>{{bl.Name}} </span><button ng-click="unblock(bl.UserId)">unblock</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
