<div class="panel panel-default">  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="panel-body">
          <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Info </h2> 
            <div class="row">
              <div class="col-sm-7">
                <img ng-if="info.PhotoId" ng-src="/images/{{info.PhotoId}}" style="width:304px;height:228px">
                <img ng-if="!info.PhotoId" ng-src="/public/images/faces/{{info.Sex}}.png" style="width:304px;height:228px">
              </div>
              <div class="col-sm-4">
                <button class="btn btn-info" ng-click="openCamera()">Take a Photo</button>
                <button class="btn btn-warning" ng-if="info.PhotoId" ng-click="deletePhoto()"> Delete photo</button>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
               Gender 
              </div>
              <div class="col-sm-4">
                <select  ng-model="info.Sex">
                  <option  ng-repeat="val in sexList" value="{{val}}"> {{val}}
                  </option> 
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                Birthdate
              </div>
              <div class="col-sm-6">
                        <input  type="number" 
                               ng-model="info.BirthDate"
                               
                               />
              </div>   
            </div>
            <div class="row">
              <div class="col-sm-5">
                Description
              </div>
              <div class="col-sm-4">
                <textarea  ng-model="info.Bio"> </textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                Address (a close by to) <br/> 
              </div>
              <div class="col-sm-4">
                <input type="text" ng-model="info.Location" typeahead="address for address in getLocation($viewValue)"
                typeahead-loading="loadingLocations"/>                               </div>
            </div>
        
            <button class="btn  btn-primary " type="submit" 
                                                             ng-click="save(info)">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

