<div class="row">
  <div class="col-md-6 ">

    <div class="panel panel-default">  
      <div class="panel-body">
        <h2 class="form-signin-heading">{{user.Name}}  <img ng-if="user.IsOnline" ng-src="/public/images/tooltips/online_status.png"/>
        <a class="btn   btn-dark" ng-if="!isOtherUser" href="#/users/edit/info"> edit </a></h2> 
        
        <button class="btn btn-danger" ng-if="isOtherUser" ng-click="block()">block</button>
        <button class="btn btn-warning" ng-if="isOtherUser" ng-click="report()">report</button>
        <button class="btn btn-primary" ng-if="isOtherUser" ng-click="message()"> message </button>

        <div class="row">
          <div  class="col-sm-4">
            <img ng-if="info.PhotoId" ng-src="/images/{{info.PhotoId}}" style="width:304px;height:228px">
            <img ng-if="!info.PhotoId" ng-src="/public/images/faces/{{info.Sex}}.png"  
                                       style="width:304px;height:228px">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
           Gender: 
          </div>
          <div class="col-sm-4">
            <span> {{info.Sex}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Age: 
          </div>
          <div class="col-sm-4">
            {{info.Age}}    
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Description:
          </div>
          <div class="col-sm-4">
            <span>{{info.Bio}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Address:
          </div>
          <div class="col-sm-4">
            <span>{{info.Location}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6 ">
    <div class="panel panel-default">  
      <div class="panel-body">

        <div ng-include="'/static/views/post/user_posts.html'"></div> 
      </div>
    </div>
  </div>
</div>

