<div class="panel panel-default">
  <div class="panel-heading"> {{event.Name}} </div>
  <div class="panel-body">
  
      <div class="row">
          <span> {{event.Name}}</span>
    </div>

  </div>
</div>
