<div class="panel panel-default">
  <div class="panel-heading"> Events </div>
  <div class="panel-body">
  
    <div ng-repeat="event in events">
      <div ng-click="openEvent(event.Id)" class="row">
          <span> {{event.Name}}</span>
      </div>
    </div>
 <pagination total-items="total" ng-model="currentPage" 
            items-per-page="size"
             ng-click="setPage(currentPage)"></pagination>

  </div>
</div>
