<div class="panel panel-default">
  <div class="panel-heading"> Admins </div>
  <div class="panel-body">
  
    <div ng-repeat="admin in admins">
      <div  class="row">
          <span> {{admin.Name}}</span>
      </div>
    </div>

  </div>
</div>
