<div class="panel panel-default">
  <div class="panel-heading"> Users </div>
  <div class="panel-body">
  
    <div ng-repeat="user in users">
      <div ng-click="openUser(user.Id)" class="row">
          <span> {{user.Name}}</span>
          <span> {{user.Email}} </span>
      </div>
    </div>

    <pagination total-items="totalUsers" ng-model="currentPage" 
            items-per-page="size"
             ng-click="setPage(currentPage)"></pagination>

  </div>
</div>
