<div class="panel panel-default">
  <div class="panel-heading"> {{user.Name}} </div>
  <div class="panel-body">
  
      <div class="row">
          <span> {{user.Name}}</span>
          <span> {{user.Email}} </span>
    </div>

  </div>
</div>
