<div class="modal-header">
  <h3 class="modal-title">Invite</h3>
</div>
<div class="modal-body">
    <div ng-controller="FindPlaceCtrl">
      <div ng-include="'static/views/calendar/part_find_place.html'"></div> 
    </div>
</div>
<div class="modal-footer">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-2">
    <button class="btn btn-warning" ng-click="close()">Close</button>
  </div>

</div>

