<div class="page">
  <section class="panel panel-default">
        <div class="panel-heading">
          <strong><span class="glyphicon glyphicon-th"></span> Find Place</strong></div>
        <div class="panel-body">
          <div ng-include="'static/views/calendar/part_find_place.html'"></div>  
        </div>
  </section>
</div>
