<div class="modal-header">
  <h3 class="modal-title">Invitation from {{fromUser.Name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <blockquote>
    You are invited to <a href="" ng-click="where.show()"> {{where.Name}} </a> at {{where.Date}}  
    </blockquote>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <button class="btn btn-primary" ng-click="accept()">Yes</button>
      <button class="btn btn-warning" ng-click="decline()">No</button>
    </div>
  </div>

</div>

