<div class="row center-block">
  <div class="row" >
    <div class="col-md-2">
      Select Date:
    </div>
    <div class="col-md-6">
      <div class="dropdown ">
        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
          <div class="input-group">
            <span>{{ query.Date | date:'yyyy-MM-dd hh:mm a' }}</span>
            <span><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker  data-ng-model="query.Date" 
                           data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      Address:
    </div>
    <div class="col-md-3">
      <input type="text" ng-model="query.Address"
                         typeahead="address for address in getLocation($viewValue)"
                         typeahead-loading="loadingLocations"/>

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      Distance:    
    </div>
    <div class="col-md-4">
      <select  ng-model="query.Kilometer" ng-options="km for km in [1,2,3,4]" > 
      </select>
        <span>kilometer</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">Tags:</div>
    <div class="col-md-4">
      <tags-input ng-model="tags" placeholder="Add tags like: +smoking, vodka, indian-food">
        <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
      </tags-input>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-10 ">
      <button class="btn btn-primary" ng-click="search(query, tags)">Search</button>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="row">
  <tabset justified="true">
  <tab heading="Businesses">
  <div class="panel-body">
    <div ng-repeat="business in businesses">
      <div style="padding:20px;" class="row callout callout-success ">
        <div ng-click="openBusiness(business.Id)">
          <div  class="col-md-1">
            <img ng-if="business.PhotoId" height="30" width="30" ng-src="/images/{{business.PhotoId}}"/>
          </div>
          <div class="col-md-3">
            <span>{{business.Name}}</span> 
          </div>
          <div class="col-md-3">
            {{getBusinessStrTime(business)}}
          </div>
          <div class="col-md-3">
            <span>{{business.Info.Address}}</span> 
          </div>
        </div>
        <div class="col-md-3">
          <button ng-if="otherId" 
                  class="btn btn-primary"
                  ng-click="inviteBusiness(otherId,query,business)">invite</button>
        </div>
      </div>
    </div>
    <button ng-if="hasBusinesses" ng-click="moreBusinesses()">more</button>
  </div>
  </tab>
  <tab heading="Events"> 
  <div class="panel-body">
    <div ng-repeat="event in events">
      <div style="padding:20px;" class="row">
        <div ng-click="openEvent(event.Id)">
          <div class="col-md-1">
            <img ng-if="event.PhotoId"  
                 height="30" width="30" ng-src="/images/{{event.PhotoId}}"/>
          </div>
          <div class="col-md-3">
            <span>{{event.Name}}</span> 
          </div>
          <div class="col-md-3">
            {{getEventStrDate(event)}}
          </div>
          <div class="col-md-3">
            <span>{{event.Info.Address}}</span> 
          </div>
        </div>
        <div class="col-md-3">
          <button ng-if="otherId" 
                  class="btn btn-primary"
                  ng-click="inviteEvent(otherId,query,event)">invite</button>
        </div>
      </div>
    </div>
    <button ng-if="hasEvents" ng-click="moreEvents()">more</button>
  </div>
  </tab>
  <tab heading="Invitations to you"> 
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <span><b>Accepted</b></span>
        <div ng-repeat="invitation in acceptedToInvitations">
          <div ng-click="openInvitation(invitation.Invitation.Id)" class="row">
            <div class="row">
              <span>To: {{invitation.FromUser.Name}} </span> 
            </div>
            <div class="row">
              <span>Where: {{invitation.Where.Name}}</span>
            </div>
            <div class="row">
              <span>Date: {{getInvitationStrDate(invitation)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <span><b>Declined</b></span>
        <div ng-repeat="invitation in declinedToInvitations">
          <div ng-click="openInvitation(invitation.Invitation.Id)" class="row">
            <div class="row">
              <span>To: {{invitation.FromUser.Name}} </span> 
            </div>
            <div class="row">
              <span>Where: {{invitation.Where.Name}}</span>
            </div>
            <div class="row">
              <span>Date: {{getInvitationStrDate(invitation)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </tab>
  <tab heading="Invitations from you">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <span><b>Accepted</b></span>
        <div ng-repeat="invitation in acceptedFromInvitations">
          <div class="row">
            <div class="row">
              <span>From: {{invitation.FromUser.Name}} </span> 
            </div>
            <div class="row">
              <span>Where: {{invitation.Where.Name}}</span>
            </div>
            <div class="row">
              <span>Date: {{getInvitationStrDate(invitation)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <span><b>Declined</b></span>
        <div ng-repeat="invitation in declinedFromInvitations">
          <div class="row">
            <div class="row">
              <span>From: {{invitation.FromUser.Name}} </span> 
            </div>
            <div class="row">
              <span>Where: {{invitation.Where.Name}}</span>
            </div>
            <div class="row">
              <span>Date: {{getInvitationStrDate(invitation)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </tab>
  </tabset>
</div>

