<div class="panel panel-default">
  <div class="panel-heading"> {{business.Name}} </div>
  <div class="panel-body">
  
      <div class="row">
          <span> {{business.Name}}</span>
    </div>

  </div>
</div>
