<div class="panel panel-default">
  <div class="panel-heading"> Businesses </div>
  <div class="panel-body">
  
    <div ng-repeat="business in businesses">
      <div ng-click="openBusiness(business.Id)" class="row">
          <span> {{business.Name}}</span>
      </div>
    </div>

     <pagination total-items="total" ng-model="currentPage" 
            items-per-page="size"
             ng-click="setPage(currentPage)"></pagination>

  </div>
</div>
