<div class="panel panel-default">  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="panel-body">
          <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="form-control" ng-model="user.Name"
                                                    placeholder="Username" required autofocus/>
            <input type="password" class="form-control" ng-model="user.Password" placeholder="Password"
                                                                                 required/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

