<div class="panel panel-default">
  <div class="panel-heading"> Reports </div>
  <div class="panel-body">
  
    <div ng-repeat="report in reports">
      <div ng-click="openReport(report.Id)" class="row">
      </div>
    </div>

    <pagination total-items="totalReports" ng-model="currentPage" 
            max-size="maxSize" class="pagination-sm" boundary-links="true" 
            rotate="false" num-pages="numPages"></pagination>

  </div>
</div>
